* {
    box-sizing: border-box;
} *

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer, main {
    margin: 20px auto;
    max-width: 100%;
    color: white;
}

header, footer {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

a:link {
    color: hotpink;
  }
  

a:visited {
    color: green;
  }
  
 
a:hover {
    color: white;
  }
  
a:active {
    color: blue;
  }

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
    
  }
  
  .column svg {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }