body {
    margin: 0 auto;
    max-width: 80ch;
    line-height: 1.45;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;  
  }
  
  header,
  main {
    margin: 0;
    padding: 30px;
    color: white;
  }
  
  h1
  {
    display: flex;
    justify-content: center;
    color: hotpink;
  }

  footer {
    text-align: center;
}
  
  h2 
  {
    display: flex;
    justify-content: center;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
  }
  
  a:link {
    color: hotpink;
  }
  

a:visited {
    color: green;
  }
  
 
a:hover {
    color: white;
  }
  
a:active {
    color: blue;
  }